@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Quicksand", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #146C94;
}

body {
  background-color: #413d3d;
}

.buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}